@font-face {
    font-family: s-regular;
    src: url(fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
    font-family: s-bold;
    src: url(fonts/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}

@font-face {
    font-family: s-title;
    src: url(fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #121212;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background-color: #000000;
    padding-inline: 16px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

.header-mobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.s-logo {
    display: flex;
    align-items: center;
}

.top-bar-button {
    display: flex;
}

.open-button {
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: s-bold;
    font-size: 0.8125rem;
    border: 0;
    border-radius: 9999px;
    min-block-size: 32px;
}

.span-button {
    padding-inline: 16px;
    padding-block: 4px;
    font-size: 0.8125rem;
    position: relative;
}

.top-bar-threeline {
    display: flex;
    align-items: center;
    margin-inline-start: 16px;
}

.three-top-bar-threeline img {
    width: 24px;
    height: 24px;
}

.header-desktop {
    display: none;
}

@media screen and (min-width: 960px) {
    header {
        height: 64px;
        padding: 0px;
    }

    .header-mobile {
        display: none;
    }

    .header-desktop{
        display: flex;
        align-items: center;
        padding: 8px;
        width: 100%;
    }
    .desktop-logo{
        display: flex;
        align-items: center;
    }
    .desktop-logo img{
        margin: 20px;
    }
    .home-search-button{
        display: flex;
        align-items: center;
        min-width: auto;
        width: 100%;
    }
    .home-button{
        display: flex;
        align-items: center;
        margin-inline-start: 8px;
        background-color: rgb(31, 31, 31);
        padding: 12px;
        border: 0;
        border-radius: 50%;
        min-block-size: 48px;
    }
    .search-button{
        padding-inline: 8px;
        position: relative;
        width: 100%;
    }
    .search-button button{
        display: flex;
        align-items: center;
        background-color: rgb(31, 31, 31);
        padding: 12px;
        border: 0;
        border-radius: 50%;
        min-block-size: 48px;
    }
    .desktop-logo{
    }
}